@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ:wght@100..400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #d6d4c5;
  color: #4b4c2a;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: solid thick #000;
  position: fixed;
  width: 100%;
  background-color: #d6d4c5;
  z-index: 1;
}


header nav li{
 list-style: none;
 display: inline-flex;
 margin: 0 5px;
}


header .navMiddle{
 margin-top: 8px;
}


header .navMiddle nav li:hover{
  /* background-color: #4b4c2a; */
  /* background-color: #d6d4c5; */
  border-radius: 50px;
  color: #fff;
}


header .navMiddle nav li a:hover{
  background-color: #4b4c2a;
  /* background-color: #d6d4c5; */
  border-radius: 50px;
  color: #fff;
}



header nav li a{
  text-decoration: none;
  color: #4b4c29;
  font-weight: bolder;
  padding: 5px 7px;
}


#brandName {
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bolder;
  color: #4b4c29;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


  

/* .navLeft nav li a:hover {
  background-color: #4b4c2a;

}
.navLeft nav li:hover {
  background-color: transparent !important;
  border-radius: 0;
} */


#brandName {
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bolder;
  color: #4b4c29;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.top {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px;
  margin-top: 50px;
  width: 60%;
  margin: 70px auto;
  line-height: 25px;
}
main a {
  text-decoration: none;
  color: red;
  font-style: italic;
 
}


.sectionP {
  margin: 20px 0;
}


.inputContainer {
  /* border: thick solid red; */
  padding: 5px;
  margin: 20px 0;
}
.inputContainer label {
 display: block;
 font-weight: bolder;
}
.inputContainer input {
width: 100%;
border: none;
border-bottom: #4b4c2a 2px solid;
background-color: transparent !important;
padding: 10px 0;
}
.inputContainer select {
width: 100%;
border: none;
border-bottom: #4b4c2a 2px solid;
background-color: transparent !important;
padding: 10px 0;
}
.inputContainer textarea {
width: 100%;
height: 200px;
border: none;
border-bottom: #4b4c2a 2px solid;
background-color: transparent !important;
padding: 10px 0;
}

section ol li {
  margin: 20px 0;
}

section h1 {
  margin: 20px 0;
  /* border-bottom: #4b4c2a 2px solid; */
  /* max-width: 300px; */
}
section button {
  width: 170px;
  padding: 7px;
  border: 3px solid #4b4c2a;
  border-radius: 6px;
  background-color: transparent;
  color: black;
  /* float: right; */
  margin-top: 10px;
  font-weight: bolder;
  font-size: larger;
 
}


.radioContainer {
  display: flex;
  margin: 20px 0;
}

.inputMainContainer .radioContainer input  {
  margin-right: 10px;
}


 .wallpaper {
  background-image: url('images/wallbackground/wall2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-bottom: 50px;
 }



.newsletter {
  background-image: url("images/wallbackground/hand-pressing-envelope-that-is-sent-world.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 40px;
  height: 40vh;
  padding: 0 10px;
  padding-top: 90px;
  overflow: hidden;
}

.newsletter h1 {
  font-size: 3rem;
  padding: 10px 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: italic;
}

.newsletter p {
  padding: 10px 0;
}

.newsletter input {
  padding: 10px 7px;
  border: thin solid #4b4c29;
  border-radius: 5px;
  width: 50%;
}

.newsletter #subscribeBtn {
  padding: 10px 7px;
  border: 2px solid #4b4c29;
  /* border-radius: 5px; */
  background-color: #4b4c29;
  font-weight: bolder;
  width: 150px;
  color: #fff;
  margin: 20px 0;
}

.newsletter #subscribeBtn:hover {
  background-color: #4b4c296a;
  color: #4b4c2a;
}

#subscribeError {
  margin: 10px 0;
  color: red;
  display: block;
}



footer {
  background-color: #4b4c29;
  overflow: hidden;
}

footer nav{
  display: flex;
  width: 100%;
  padding: 20px;
  /* background-color: #4b4c2a; */
  justify-content: center;
  align-items: center;
}
footer .socialIcon{
  display: flex;
  width: 100%;
  padding: 20px;
  /* background-color: #4b4c2a; */
  justify-content: center;
  align-items: center;
  /* border: thick solid red; */
}

.fa-brands {
  color: #fff;
  font-size: 60px;
  margin: 5px 50px;

}

footer nav li {
  list-style: none;
  display: inline-flex;
  margin: 0 5px;
  padding: 2px 8px;
  justify-content: space-between;
}
footer nav li a {
  text-decoration: none;
  color: #fff;
}

footer a {
  color: #fff;
}

.copyright {
  /* border: thick solid red; */
  background-color: #d6d4c5;
  color: #4b4c2a;
  font-weight: bold;
  text-align: center;
}