@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ:wght@100..400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #d6d4c5;
  color: #4b4c2a;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: solid thick #000;
  position: fixed;
  width: 100%;
  background-color: #d6d4c5;
}


header nav li{
 list-style: none;
 display: inline-flex;
 margin: 0 5px;
}


header .navMiddle{
 margin-top: 8px;
}


header .navMiddle nav li:hover{
  /* background-color: #4b4c2a; */
  /* background-color: #d6d4c5; */
  border-radius: 50px;
  color: #fff;
}


header .navMiddle nav li a:hover{
  background-color: #4b4c2a;
  /* background-color: #d6d4c5; */
  border-radius: 50px;
  color: #fff;
}



header nav li a{
  text-decoration: none;
  color: #4b4c29;
  font-weight: bolder;
  padding: 5px 7px;
}


#brandName {
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bolder;
  color: #4b4c29;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


main {
  padding: 20px;
  margin-top: 50px;
}

.innerContainer {
  display: flex;
  width: 100%;
  height: auto;
  /* height: 100vh; */
  flex-wrap: wrap;
  /* border: thick solid brown; */
  justify-content: center;
  /* align-items: center; */
}

.sectionContainer {
  margin: 20px 0;
  /* border: thick solid brown; */
}

.styleContainer .img img{
  max-width: 500px;
  margin: 10px 15px;
 
}


.img {
  background-color: #d6d4c5;
}


.btnContainer {
  display: flex;
  width: 100%;
  padding: 10px 0;
  text-wrap: nowrap;

}

.btnContainer .styleBtn {
  padding: 7px;
  width: 170px;
  text-align: center;
  font-weight: bolder;
  margin: 0 auto;
  background-color: transparent;
  border: thin solid #4b4c2a;
  color: #4b4c2a;
  text-decoration: none;
}



.btnContainer .styleBtn:hover {
  background-color: #4b4c2a;
  color: #fff;
  cursor: pointer;
}


.sectionHeading {
  font-weight: bolder;
  font-size: 100px;
  color: #4b4c2a60;
  /* border: thin solid red; */
  margin: 0 40px;

}
.sectionHeading a{
  text-decoration: none;
  color: #4b4c2a60;

}

.floatRight {
  float: right;
}

.bridal {
  background-image: url('images/wallbackground/wall1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 40px;
  overflow: hidden;
}

.explore {
  font-weight: bolder;
  font-size: 150px;
  height: 70vh;
  text-align: center;
  margin-top: 50px;
 
}
.explore a {
  text-decoration: none;
  color: #4b4c2a;
}
.explore a:hover {
  color: #fff;
}

.moveleff {
  margin-left: 500px;
}

footer {
  display: flex;
width: 100%;
padding: 20px;
background-color: #4b4c2a;
justify-content: center;
align-items: center;
}

footer nav li {
  list-style: none;
  display: inline-flex;
  margin: 0 5px;
  padding: 2px 8px;
  justify-content: space-between;

}
footer nav li a {
 text-decoration: none;
 color: #fff;
}

footer a {
  color: #fff;
}


.newsletter {
  background-image: url('images/wallbackground/hand-pressing-envelope-that-is-sent-world.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 40px;
  height: 30vh;
  padding: 0 10px;
  padding-top: 90px;
}

.newsletter h1 {
  font-size: 3rem;
  padding: 10px 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: italic;
}

.newsletter p {
  padding: 10px 0;
}

.newsletter input {
  padding: 10px 7px;
  border: thin solid #4b4c29;
  border-radius: 5px;
  width: 50%;
}

.newsletter button {
  padding: 10px 7px;
  border: thin solid #4b4c29;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bolder;
}

.newsletter button:hover{
  background-color: #4b4c29;
  color: #fff;
}

.videoContainer {
  /* border: thick solid red; */
  height: 80vh;
  overflow: hidden;
  
}

/* .heroHeading {
  margin-top: 500px;
  background-color: #000;
  position: absolute;
  top: 200px;
  left: 800px;
} */