@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ:wght@100..400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #d3d2c3;
}


header{
  background-color: #d5d3c3;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: solid thick #000;
}

header nav {
  display: flex;
}

header nav li a{
  text-decoration: none;
  color: #4b4c29;
  
}
header nav li a:hover {
 background-color: #4b4c29;
 padding: 5px;
 font-size: 20px;
 color: white;
  
}

header nav ul {
  margin: 10px;
  list-style: none;
  font-weight: bolder;
 
}


#brandName {
  font-size: 2em;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bolder;
  color: #4b4c29;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.homepage {
 /* border: thick solid #000; */
 padding: 10px;
 width: auto;
 height: 90vh;
 background-image: url('images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#Marq {
  font-size: 70px;
  font-weight: bolder;
  font-style: italic;
  /* color: #551a8b; */
  color: #4b4c29;
  text-shadow: #000 2px 6px;
  /* position: absolute ;
  top: 800px; */
}

#rightNavContent {
  display: flex;
  justify-content: space-between;
 width: 15%;
 text-wrap: nowrap;

 /* border: thick solid #551a8b; */

}

#rightNavContent a {
  text-decoration: none;
  margin-top: 10px;
  font-weight: bolder;
  color: #4b4c29;
}
#rightNavContent a:hover {
  /* background-color: #4b4c29; */
 padding: 5px;
 font-size: 20px;
 text-decoration: underline;
}

#rightNavContent #loginButton {
  background-color: #4b4c29;
  color: white;
  /* padding: 10px 10px; */
  margin-left: 7px;
  border: thin solid #fff;
  border-radius: 50px;
  cursor: pointer;
  width: 30%;
  font-weight: bolder;
  padding: 0%;
  text-align: center;
  padding: 5px 10px;
  /* margin-bottom: 5px; */
  text-decoration: none;
}

#rightNavContent #loginButton:hover {
  background-color: transparent;
  color: #4b4c29;
  border: thin solid #4b4c29;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  width:600px;
  /* border: thick solid #551a8b; */
  /* border-radius: 50px; */
  padding: 10px;
  line-height: 35px;
  margin-top: 70px;
 
}

.leftContent p {
  margin-top: 250px;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  color: #4b4c29;
  /* color: #551a8b; */
}
.leftContent h1 {
  font-size: 70px;
  font-weight: bolder;
  /* color: #551a8b; */
  color: #4b4c29;
  line-height: 75px;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#exploreBtnContainer {
  display: flex;
  justify-content: center;
}

#exploreBtn {
  background-color: transparent;
  padding: 0px 10px;
  border: thin solid ;
  cursor: pointer;
  width: 50%;
  font-weight: bolder;
  text-decoration: none;
  color: #4b4c29;
}

#exploreBtn:hover {
  background-color: #4b4c29;
  color: #fff;
}


#exploreBtn a:hover {
  color: #fff;
}

.rightContent {
  width:500px;
  margin-top: 30px;
  border: thin solid #fff;
  border-radius: 50px;
  padding: 10px;
  line-height: 47px;
  text-align: center;
}

.rightContent p {
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  /* color: #551a8b; */
  color: #4b4c29;
  margin-top: 30px;
}


.middleContent {
  width: 700px;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: transparent;
  margin-top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: thick solid #551a8b; */
  border-radius: 50px;
  padding: 20px;
 /* color: black; */
 color: #4b4c29;
 font-family: "Playwrite NZ", cursive;
 font-optical-sizing: auto;
 font-style: normal;
  font-weight: bolder;
   background-color: rgba(0, 255, 238, 0.097);
}

.middleContent:hover {
  background-color: #d3d2c3;
}