@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body{
  font-family: Arial, sans-serif;
  background-color: #d3d2c3;
  width: 100%;
  /* overflow: auto; */
}

.main {
  width: 100%;
  height: auto;
  /* margin-top: 75px; */
}


header {
  display: block;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: solid thick #000;
  /* text-wrap: nowrap; */
  /* position: fixed; */
  width: 100%;
  /* margin-top: 0; */
  background-color: #d6d4c5;

  color: #4b4c2a;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* line-height: 25px; */
}


header nav li{
 list-style: none;
 display: inline-flex;
 margin: 0 5px;
 padding: 2px 8px;
 text-wrap: nowrap;

}

 
 header .navRight {
   margin-right: 20px;
   /* border: thin solid red; */

 }

 header .navRight nav li {
   background-color: transparent;
   border: 3px solid #4b4c29;
 }

 header .navRight nav li a {
   background-color: transparent;
   border: thin solid #4b4c29; 
   width: 120px;

 }
 header .navRight nav li .contactbtn {
   background-color: #4b4c29;
   border: thin solid #fff; 
   width: 120px;
   color: #fff;

 }
 /* header .navRight nav li .contactbtn:hover {
   background-color: #4b4c29;
   border: thin solid #fff; 
   width: 120px;

 } */


 header .navRight nav li a:hover {
   border: thin solid #4b4c29;
   background-color: #4b4c29;
  border-radius: 5px;

 }





 header .navRight nav li:hover{
   background-color: #d6d4c5;
   border-radius: 5px;
 }

 
 
 header nav li a{
   text-decoration: none;
   color: #4b4c29;
   font-weight: bolder;
   /* width: 100px; */
   text-align: center;
 }
 

 header nav li a:hover{
   color: #fff;
 }


#brandName {
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bolder;
  color: #4b4c29;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.homepage {
 padding: 10px 10px;
 width: auto;
 /* height: 93vh; */
 overflow: hidden;

 margin-top: 0;
 /* border: thick solid red !important; */

 background-image: url('images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}



#Marq {
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
  color: #4b4c29;
  /* text-shadow: #000 2px 6px; */
 position: absolute;
 margin-top: 0px;
 
}



.banner {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  width:600px;
  padding: 10px;
  height: 800px;
  line-height: 35px;
  margin-top: 70px;
  /* border: thick solid red; */
  overflow: hidden;
 
}



.leftContent p {
  margin-top: 250px;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  color: #4b4c29;
}
.leftContent h1 {
  font-size: 70px;
  font-weight: bolder;
  color: #4b4c29;
  line-height: 75px;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#exploreBtnContainer {
  display: flex;
  justify-content: center;
}

#exploreBtn {
  background-color: transparent;
  padding: 0px 10px;
  border: thin solid ;
  cursor: pointer;
  width: 50%;
  font-weight: bolder;
  text-decoration: none;
  color: #4b4c29;
}

#exploreBtn:hover {
  background-color: #4b4c29;
  color: #fff;
}


#exploreBtn a:hover {
  color: #fff;
}


.rightContent {
  width:500px;
  margin-top: 70px;
  height: 830px;
  border: 1px solid #4b4c295f;
  border-radius: 30px;
  padding: 10px;
  line-height: 47px;
  text-align: center;
  /* border: thick solid red; */
}

.rightContent p {
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  color: #4b4c29;
  margin-top: 30px;
}

.rightContent .homepageSuite {
  /* border: thick solid blue; */
  margin-top: 30px;
  height: 100%;
 
}
.rightContent .homepageSuite img {
  width: inherit;
  height: 500px;
  border-radius: 10px;
}
