/* Extra small screen>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (max-width: 575.98px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
   overflow-y: scroll;
    /* overflow-y: auto; */
    /* border: thick solid blue; */
    width: 100%;
    /* text-align: center; */
  }

  header {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    margin: 0 3px;
    /* border: thick solid green; */
  }

  header .navLeft {
    /* border: thick solid blue; */
    display: block;
    width: 100%;
    text-align: center;
  }
  header nav ul {
    width: 100%;
    display: flex;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
   
  }

  header .navLeft nav {
    /* border: thick solid firebrick; */
    display: flex;
    width: 60%;
  }
  header .navLeft li {
    /* border: thick solid goldenrod; */
    width: 100%;
   
  }

  header .navLeft nav ul li #brandName{
   margin-left: auto;

  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 80px;
    mix-blend-mode: color-burn;
    /* display: block; */
  }

  .navMiddle {
    display: none;
  }

  .navRight {
    border: none !important;
   
  }
  .navRight li #goBack {
    border: thin solid #4b4c29;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    width: 130px;
    text-wrap: nowrap;
    background-color: transparent;
  }


  .navRight button:hover {
  background-color: #4b4c2a;
  color: #fff;
  border: thin solid #fff;
  }

  .mainContainer {
    /* border: thick solid red; */
    width: 100%;
    height: auto;
    /* display: block; */
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* font-size: x-large; */
    margin-top: 100px;
  }

  #Marq {
    font-size: 25px;
    font-weight: bolder;
    color: #4b4c29;
    position: fixed;
    margin-top: 5px;
  }

  .header {
    padding: 7px 0;
    font-family: "Lato", sans-serif;
    font-weight: 100px;
    font-style: normal;
    margin-top: 20px;
    font-size: larger;
  }

  .smallHeader {
    padding: 4px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
  }

  .smallText {
    padding: 5px 0;
    font-size: 20px;
  }

  .classMiddleContainer {
    /* border: 2px solid #4b4c2a; */
    width: 100%;
    display: flex;
    border-radius: 10px;
  }

  .leftContainer {
    width: 100%;
    padding: 10px;
    /* border: thin solid yellow; */
  }

  .formtag {
    padding: 5px;
    /* border: thin solid brown; */
  }

  .inputContainer {
    width: 100%;
    margin: 10px 5px;
    /* border: thick solid red; */
  }

  .formInput {
    padding: 10px;
    width: 100%;
    border: 2px solid #4b4c2a;
    border-radius: 5px;
    background-color: transparent;
  }

  .textContainer {
    /* padding: 10px; */
    padding: 3px;
    /* border: thin solid blue; */
  }

  #content {
    width: 100%;
    height: 10svh;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #4b4c2a;
    background-color: #d6d4c5;
  }

  .btn {
    width: 170px;
    padding: 10px;
    border: 3px solid #4b4c2a;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    float: right;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
  }

  .rightContainer {
    display: none;
  }


}

/* Small devices  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden;
    /* overflow-y: auto; */
    /* border: thick solid blue; */
    width: 100%;
    /* text-align: center; */
  }

  header {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    margin: 0 3px;
    /* border: thick solid green; */
  }

  header .navLeft {
    /* border: thick solid blue; */
    display: block;
    width: 100%;
    text-align: center;
  }
  header nav ul {
    width: 100%;
    display: flex;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
   
  }

  header .navLeft nav {
    /* border: thick solid firebrick; */
    display: flex;
    width: 60%;
  }
  header .navLeft li {
    /* border: thick solid goldenrod; */
    width: 100%;
   
  }

  header .navLeft nav ul li #brandName{
   margin-left: auto;

  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 80px;
    mix-blend-mode: color-burn;
    /* display: block; */
  }

  .navMiddle {
    display: none;
  }

  .navRight {
    border: none !important;
   
  }
  .navRight li #goBack {
    border: thin solid #4b4c29;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    width: 130px;
    text-wrap: nowrap;
    background-color: transparent;
  }


  .navRight button:hover {
  background-color: #4b4c2a;
  color: #fff;
  border: thin solid #fff;
  }

  .mainContainer {
    /* border: thick solid red; */
    width: 100%;
    height: auto;
    /* display: block; */
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* font-size: x-large; */
    margin-top: 100px;
  }

  #Marq {
    font-size: 30px;
    font-weight: bolder;
    color: #4b4c29;
    position: fixed;
    margin-top: 5px;
  }

  .header {
    padding: 7px 0;
    font-family: "Lato", sans-serif;
    font-weight: 100px;
    font-style: normal;
    margin-top: 30px;
    font-size: 40px;
  }

  .smallHeader {
    padding: 4px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  }

  .smallText {
    padding: 5px 0;
    font-size: 25px;
  }

  .classMiddleContainer {
    /* border: 2px solid #4b4c2a; */
    width: 100%;
    display: flex;
    border-radius: 10px;
  }

  .leftContainer {
    width: 100%;
    padding: 10px;
    /* border: thin solid yellow; */
  }

  .formtag {
    padding: 5px;
    /* border: thin solid brown; */
  }

  .inputContainer {
    width: 100%;
    margin: 10px 5px;
    /* border: thick solid red; */
  }

  .formInput {
    padding: 15px;
    width: 100%;
    border: 2px solid #4b4c2a;
    border-radius: 5px;
    background-color: transparent;
  }

  .textContainer {
    /* padding: 10px; */
    padding: 3px;
    /* border: thin solid blue; */
  }

  #content {
    width: 100%;
    height: 15svh;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #4b4c2a;
    background-color: #d6d4c5;
  }

  .btn {
    width: 170px;
    padding: 10px;
    border: 3px solid #4b4c2a;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    float: right;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
  }

  .rightContainer {
    display: none;
  }
}

/* Medium devices>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden;
    /* overflow-y: auto; */
    /* border: thick solid blue; */
    width: 100%;
    /* text-align: center; */
  }

  header {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    margin: 0 3px;
    /* border: thick solid green; */
  }

  header .navLeft {
    /* border: thick solid blue; */
    display: block;
    width: 100%;
    text-align: center;
  }
  header nav ul {
    width: 100%;
    display: flex;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
   
  }

  header .navLeft nav {
    /* border: thick solid firebrick; */
    display: flex;
    width: 60%;
  }
  header .navLeft li {
    /* border: thick solid goldenrod; */
    width: 100%;
   
  }

  header .navLeft nav ul li #brandName{
   margin-left: auto;

  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 80px;
    mix-blend-mode: color-burn;
    /* display: block; */
  }

  .navMiddle {
    display: none;
  }

  .navRight {
    border: none !important;
   
  }
  .navRight li #goBack {
    border: thin solid #4b4c29;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    width: auto;
    text-wrap: nowrap;
    background-color: transparent;
  }


  .navRight button:hover {
  background-color: #4b4c2a;
  color: #fff;
  border: thin solid #fff;
  }

  .mainContainer {
    /* border: thick solid red; */
    width: 100%;
    height: auto;
    /* display: block; */
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* font-size: x-large; */
    margin-top: 193px;
  }

  #Marq {
    font-size: 30px;
    font-weight: bolder;
    color: #4b4c29;
    position: fixed;
    margin-top: 5px;
  }

  .header {
    padding: 7px 0;
    font-family: "Lato", sans-serif;
    font-weight: 100px;
    font-style: normal;
    margin-top: 30px;
    font-size: 40px;
  }

  .smallHeader {
    padding: 4px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  }

  .smallText {
    padding: 5px 0;
    font-size: 25px;
  }

  .classMiddleContainer {
    border: 2px solid #4b4c2a;
    width: 100%;
    display: flex;
    border-radius: 10px;
  }

  .leftContainer {
    width: 65%;
    padding: 10px;
    /* border: thin solid yellow; */
  }

  .formtag {
    padding: 5px;
    /* border: thin solid brown; */
  }

  .inputContainer {
    width: 100%;
    margin: 10px 5px;
    /* border: thick solid red; */
  }

  .formInput {
    padding: 15px;
    width: 100%;
    border: 2px solid #4b4c2a;
    border-radius: 5px;
    background-color: transparent;
  }

  .textContainer {
    /* padding: 10px; */
    padding: 3px;
    /* border: thin solid blue; */
  }

  #content {
    width: 100%;
    height: 15svh;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #4b4c2a;
    background-color: #d6d4c5;
  }

  .btn {
    width: 170px;
    padding: 10px;
    border: 3px solid #4b4c2a;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    float: right;
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
  }


  .rightContainer {
    /* border-left: thick solid purple; */
    width: 35%;
    padding: 20px 10px;
    border-radius: 0 14px 14px 0;
    color: white;
    border-left: thick solid #4b4c2a;
  }

  .iconText {
    margin-left: 10px;
    /* border: thick solid red; */
    font-size: 20px;
  }

  .fa-brands {
    color: #fff;
    font-size: 40px;
  
  }
  
}

/* Large Devices(Desktop) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden;
    /* overflow-y: auto; */
    /* border: thick solid blue; */
    width: 100%;
    /* text-align: center; */
  }

  header {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    margin: 0 3px;
    /* border: thick solid green; */
  }

  header .navLeft {
    /* border: thick solid blue; */
    display: block;
    width: 100%;
    text-align: center;
  }
  header nav ul {
    width: 100%;
    display: flex;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
   
  }

  header .navLeft nav {
    /* border: thick solid firebrick; */
    display: flex;
    width: 60%;
  }
  header .navLeft li {
    /* border: thick solid goldenrod; */
    width: 100%;
   
  }

  header .navLeft nav ul li #brandName{
   margin-left: auto;

  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 80px;
    mix-blend-mode: color-burn;
    /* display: block; */
  }

  .navMiddle {
    display: none;
  }

  .navRight {
    border: none !important;
   
  }
  .navRight li #goBack {
    border: thin solid #4b4c29;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    width: auto;
    text-wrap: nowrap;
    background-color: transparent;
  }


  .navRight button:hover {
  background-color: #4b4c2a;
  color: #fff;
  border: thin solid #fff;
  }

  .mainContainer {
    /* border: thick solid red; */
    width: 100%;
    height: auto;
    /* display: block; */
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* font-size: x-large; */
    margin-top: 100px;
  }

  #Marq {
    font-size: 30px;
    font-weight: bolder;
    color: #4b4c29;
    position: fixed;
    margin-top: 5px;
  }

  .header {
    padding: 7px 0;
    font-family: "Lato", sans-serif;
    font-weight: 400px;
    font-style: normal;
    margin-top: 30px;
    font-size: 50px;
  }

  .smallHeader {
    padding: 4px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
  }

  .smallText {
    padding: 5px 0;
    font-size: 30px;
  }

  .classMiddleContainer {
    border: 3px solid #4b4c2a;
    width: 100%;
    display: flex;
    border-radius: 10px;
  }

  .leftContainer {
    width: 65%;
    padding: 10px;
    /* border: thin solid yellow; */
  }

  .formtag {
    padding: 5px;
    /* border: thin solid brown; */
  }

  .inputContainer {
    width: 100%;
    margin: 10px 5px;
    /* border: thick solid red; */
  }

  .formInput {
    padding: 15px;
    width: 100%;
    border: 3px solid #4b4c2a;
    border-radius: 5px;
    background-color: transparent;
  }

  .textContainer {
    /* padding: 10px; */
    padding: 3px;
    /* border: thin solid blue; */
  }

  #content {
    width: 100%;
    height: 15svh;
    padding: 10px;
    border-radius: 3px;
    border: 3px solid #4b4c2a;
    background-color: #d6d4c5;
  }

  .btn {
    width: 170px;
    padding: 13px;
    border: 3px solid #4b4c2a;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    float: right;
    margin-top: 10px;
    font-weight: bolder;
    font-size: x-large;
  }


  .rightContainer {
    /* border-left: thick solid purple; */
    width: 35%;
    padding: 20px 10px;
    border-radius: 0 14px 14px 0;
    color: white;
    border-left: thick solid #4b4c2a;
  }

  .iconText {
    margin-left: 10px;
    /* border: thick solid red; */
    font-size: 30px;
  }

  .fa-brands {
    color: #fff;
    font-size: 60px;
  
  }
}

/* Extra large screen (Large Desktop) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* overflow: auto; */
  }
  body {
  
  background-color: #d6d4c5;
  color: #4b4c2a;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-size: x-large; */
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    overflow: hidden;
    overflow-y: auto;
  
  }
  
  
  /* header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 70px;
    mix-blend-mode: color-burn;
    height: 20px;
  } */

  header {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    margin: 0 3px;
    /* border: thick solid green; */
  }

  header .navLeft {
    /* border: thick solid blue; */
    display: block;
    width: 100%;
    text-align: center;
  }
  header nav ul {
    width: 100%;
    display: flex;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
   
  }

  header .navLeft nav {
    /* border: thick solid firebrick; */
    display: flex;
    width: 60%;
  }
  header .navLeft li {
    /* border: thick solid goldenrod; */
    width: 100%;
   
  }

  header .navLeft nav ul li #brandName{
   margin-left: auto;

  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 80px;
    mix-blend-mode: color-burn;
    /* display: block; */
  }

  .navMiddle {
    display: none;
  }

  .navRight {
    border: none !important;
   
  }
  .navRight li #goBack {
    border: thin solid #4b4c29;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    width: auto;
    text-wrap: nowrap;
    background-color: transparent;
  }


  .navRight button:hover {
  background-color: #4b4c2a;
  color: #fff;
  border: thin solid #fff;
  }
  
  
  #brandName {
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 5px;
    font-weight: bolder;
    color: #4b4c29;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  
  .mainContainer {
    /* border: thick solid red; */
    width: 100%;
    height: 100vh;
    display: block;
    padding: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
  

  }
  
  .classMiddleContainer {
    border: 4px solid #4b4c2a;
    width: 100%;
    /* height: 70vh; */
    display: flex;
    margin: 20px 0;
    border-radius: 20px;
  
  }
  
  .leftContainer {
    border-right: thick solid #4b4c2a;
    width: 65%;
    padding: 20px;
  }
  
  .rightContainer {
    /* border-left: thick solid purple; */
    width: 35%;
    padding: 20px 50px;
    /* background-image: url('images/ai-generated-8195533_1280.webp'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 14px 14px 0;
    color: white;
    border-left: thick solid #4b4c2a;
  }
  
  
  .formtag {
    padding: 10px;
  }
  
  .smallText {
    padding: 5px 0;
  }
  
  .header {
    padding: 7px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 45px;
  }
  
  .smallHeader {
    padding: 7px 0;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .topInputHolder {
    display: flex;
    width: 100%;
  }
  
  .bottomInputHolder {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .formLabel {
    padding: 8px 0;
    font-weight: bolder;
    display: block;
  }
  
  
  .inputContainer {
    width: 100%;
    margin: 15px 10px;
    /* border: thick solid red; */
  }
  
  .formInput {
    padding: 15px;
    width: 100%;
    border: 3px solid #4b4c2a;
    border-radius: 7px;
    background-color: transparent;
  }
  
  .textContainer {
    padding: 10px;
  }
  
  #content {
    width: 100%;
    height: 20vh;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #4b4c2a;
    background-color: #d6d4c5;
  }
  
  .btn {
    width: 170px;
    padding: 7px;
    border: 3px solid #4b4c2a;
    border-radius: 6px;
    background-color: transparent;
    color: black;
    float: right;
    margin-top: 10px;
    font-weight: bolder;
    font-size: larger;
  }
  
  .btn:hover {
    background-color: #4b4c2a;
    color: white;
    border: 3px solid #fff;
  }
  
  
  .iconContainer {
    display: flex;
    margin: 40px 0;
    /* border: thick solid red; */
  }
  
  
  .rightContainer .smallHeader {
    margin-bottom: 40px;
  }
  
  .icon {
    /* border-radius: 50%; */
    /* width: 35px;
    height: 35px; */
    border: none;
    /* background-color: #195822; */
    background-color: transparent;
  
    
  }
  
  .iconText {
    margin-left: 20px;
    /* border: thick solid red; */
  }
  
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  
  .bottomIconContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    /* border: thick yellow solid; */
  }
  
  .fa-brands {
    color: #fff;
    font-size: 60px;
  
  }
  
  
  
  #Marq {
    font-size: 40px;
    font-weight: bolder;
    /* font-style: italic; */
    color: #4b4c29;
    /* text-shadow: #000 2px 6px; */
   position: fixed;
   margin-top: 5px;
   /* padding-bottom: 20px; */
   
  }
  
  
  
  
  #generalError {
    margin: 10px 0;
    color: red;
  }
  
  
  .inputError {
    margin: 10px 0;
    color: red;
  }
}
