/* Extra small screen>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (max-width: 575.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* border: thick solid blue; */
  }

  header {
    display: block;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
  }

  header .navLeft li {
    /* border: thick solid goldenrod; */
    display: block;
  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 50px;
    mix-blend-mode: color-burn;
  }

  main {
    padding: 10px 10px 0 10px;
    margin-top: 180px;
    /* border: thick solid red; */
  }

  .hero {
    height: 30vh;
  }

  .videoContainer {
    /* border: thick solid red; */
    height: 30vh;
    /* overflow: hidden; */
  }
  .videoContainer video {
    max-width: 100%;
  }

  .innerContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* border: thick solid brown; */
    justify-content: center;
  }

  .styleContainer .img img {
    max-width: 140px;
    margin: 10px 15px;
    /* border: thick solid blue; */
    aspect-ratio: 3/3;
  }

  .btnContainer {
    display: flex;
    max-width: 80%;
    /* padding: 10px 0; */
    text-wrap: nowrap;
    /* border: thin solid red; */
    margin: 0 auto;
  }

  .sectionHeading {
    font-weight: bolder;
    font-size: 60px;
    color: #4b4c2a60;
    /* border: thin solid red; */
    /* margin: 0 40px; */
  }

  .bridal {
    /* border: thick solid royalblue; */
    height: 30vh;
  }

  .explore {
    font-weight: bold;
    font-size: 55px;
    /* height: 7vh; */
    text-align: start;
    margin-top: 75px;
  }

  .moveleff {
    margin-left: 200px;
  }

  .testimonials .innerContainer {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    /* border: thick solid red; */
    width: 100%;
  }

  .card {
    border: 2px solid #4b4c29;
    border-radius: 5px;
    width: 200px;
    height: 170px;
    margin: 10px;
    color: #4b4c2a;
    overflow: scroll;
    padding: 2px;
  }
  .card p {
    color: #000;
  }

  .card_header {
    height: 30px;
    padding: 2px;
  }

  .card_image img {
    border: thin solid #4b4c29;
    width: 100%;
    /* height: 50%; */
    /* height: 70px; */
    object-fit: cover;
  }

  .card_body {
    padding: 5px;
    height: 70px;
    overflow: hidden;
    overflow-y: auto;
    /* border: thick solid blue; */
  }

  .ratingIcon {
    /* border: thin solid #4b4c29; */
    float: right;
  }

  .fa-star {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .newsletter {
    height: auto;
    text-align: center;
    /* border: thick solid yellow; */
  }

  .newsletter h1 {
    font-size: 2rem;
    padding: 5px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

  .newsletter p {
    padding: 5px 0;
    color: #000;
  }

  .newsletter input {
    padding: 10px 7px;
    border: thin solid #4b4c29;
    border-radius: 5px;
    width: 70%;
    outline: none;
    /* background-color: transparent; */
  }

  .newsletter form #subscribeBtn {
    width: 200px;
    border: thin solid #fff;
  }

  footer {
    background-color: #4b4c29;
    margin: 0 20px;
    height: auto;
    text-align: center;
  }

  footer nav {
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: #4b4c2a; */
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  footer nav li {
    margin: 0 3px;
    padding: 2px 4px;
    justify-content: space-between;
  }

  footer .socialIcon {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .fa-brands {
    color: #fff;
    font-size: 40px;
    margin: 5px 30px;
  }

  .copyright {
    /* border: thick solid red; */
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
  }
}

/* Small devices  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* border: thick solid blue; */
  }

  header {
    display: block;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
  }

  header .navLeft li {
    /* border: thick solid goldenrod; */
    display: block;
  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 50px;
    mix-blend-mode: color-burn;
  }

  main {
    padding: 10px 10px 0 10px;
    margin-top: 180px;
    /* border: thick solid red; */
  }

  .videoContainer {
    /* border: thick solid red; */
    height: 30vh;
    /* overflow: hidden; */
  }
  .videoContainer video {
    max-width: 100%;
  }

  .innerContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* border: thick solid brown; */
    justify-content: center;
  }

  .styleContainer .img img {
    max-width: 180px;
    margin: 10px 15px;
    /* border: thick solid blue; */
    aspect-ratio: 3/3;
  }

  .btnContainer {
    display: flex;
    max-width: 80%;
    /* padding: 10px 0; */
    text-wrap: nowrap;
    /* border: thin solid red; */
    margin: 0 auto;
  }

  .sectionHeading {
    font-weight: bolder;
    font-size: 60px;
    color: #4b4c2a60;
    /* border: thin solid red; */
    /* margin: 0 40px; */
  }

  .bridal {
    /* border: thick solid royalblue; */
    height: 30vh;
  }

  .explore {
    font-weight: bold;
    font-size: 75px;
    /* height: 7vh; */
    text-align: start;
    margin-top: 45px;
    margin-left: 50px;
  }

  .moveleff {
    margin-left: 300px;
  }

  .testimonials .innerContainer {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    /* border: thick solid red; */
    width: 100%;
  }

  .card {
    border: 2px solid #4b4c29;
    border-radius: 5px;
    width: 200px;
    height: 170px;
    margin: 10px;
    color: #4b4c2a;
    overflow: scroll;
    padding: 2px;
  }
  .card p {
    color: #000;
    font-size: 12px;
  }

  .card_header {
    height: 30px;
    padding: 2px;
  }

  .card_image img {
    border: thin solid #4b4c29;
    width: 100%;
    /* height: 50%; */
    /* height: 70px; */
    object-fit: cover;
  }

  .card_body {
    padding: 5px;
    height: 70px;
    overflow: hidden;
    overflow-y: auto;
    /* border: thick solid blue; */
  }

  .ratingIcon {
    /* border: thin solid #4b4c29; */
    float: right;
  }

  .fa-star {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .newsletter {
    height: auto;
    /* border: thick solid yellow; */
  }

  .newsletter h1 {
    font-size: 2rem;
    padding: 5px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

  .newsletter p {
    padding: 5px 0;
    color: #000;
  }

  .newsletter input {
    padding: 10px 7px;
    border: thin solid #4b4c29;
    border-radius: 5px;
    width: 70%;
    outline: none;
    /* background-color: transparent; */
  }

  .newsletter form #subscribeBtn {
    width: 200px;
    border: thin solid #fff;
  }

  footer {
    background-color: #4b4c29;
    margin: 0 20px;
    height: auto;
    text-align: center;
  }

  footer nav {
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: #4b4c2a; */
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  footer nav li {
    margin: 0 3px;
    padding: 2px 4px;
    justify-content: space-between;
  }

  footer .socialIcon {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .fa-brands {
    color: #fff;
    font-size: 50px;
    margin: 5px 30px;
  }
}

/* Medium devices>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* border: thick solid blue; */
  }

  header {
    display: block;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
  }

  header .navLeft li {
    /* border: thick solid goldenrod; */
    display: block;
  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 70px;
    mix-blend-mode: color-burn;
  }

  main {
    padding: 10px 10px 0 10px;
    margin-top: 180px;
    /* border: thick solid red; */
  }

  .videoContainer {
    /* border: thick solid red; */
    height: 30vh;
    /* overflow: hidden; */
  }
  .videoContainer video {
    max-width: 100%;
    aspect-ratio: 16/9;
  }

  .innerContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* border: thick solid brown; */
    justify-content: center;
  }

  .styleContainer .img img {
    max-width: 170px;
    margin: 10px 15px;
    /* border: thick solid blue; */
    aspect-ratio: 3/3;
  }

  .btnContainer {
    display: flex;
    max-width: 80%;
    /* padding: 10px 0; */
    text-wrap: nowrap;
    /* border: thin solid red; */
    margin: 0 auto;
  }

  .sectionHeading {
    font-weight: bolder;
    font-size: 70px;
    color: #4b4c2a60;
    /* border: thin solid red; */
    /* margin: 0 40px; */
  }

  .bridal {
    /* border: thick solid royalblue; */
    height: 30vh;
  }

  .explore {
    font-weight: bold;
    font-size: 75px;
    /* height: 7vh; */
    text-align: start;
    margin-top: 45px;
    margin-left: 70px;
  }

  .moveleff {
    margin-left: 300px;
  }

  .testimonials .innerContainer {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    /* border: thick solid red; */
    width: 100%;
  }

  .card {
    border: 2px solid #4b4c29;
    border-radius: 5px;
    width: 260px;
    height: 320px;
    margin: 10px;
    color: #4b4c2a;
    overflow: scroll;
    padding: 2px;
  }
  .card p {
    color: #000;
  }

  .card_header {
    height: 30px;
    padding: 2px;
  }
  .card_header h1 {
    font-size: 20px;
  }

  .card_header,
  .card_image,
  .card_body {
    border-bottom: 2px solid #4b4c29;
  }

  .card_image img {
    border: thin solid #4b4c29;
    width: 100%;
    /* height: 50%; */
    /* height: 70px; */
    object-fit: cover;
  }

  .card_body {
    padding: 5px;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    /* border: thick solid blue; */
  }

  .ratingIcon {
    /* border: thin solid #4b4c29; */
    float: right;
  }

  .fa-star {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .newsletter {
    height: auto;
    /* border: thick solid yellow; */
  }

  .newsletter h1 {
    font-size: 2rem;
    padding: 5px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

  .newsletter p {
    padding: 5px 0;
    color: #000;
  }

  .newsletter input {
    padding: 10px 7px;
    border: thin solid #4b4c29;
    border-radius: 5px;
    width: 70%;
    outline: none;
    /* background-color: transparent; */
  }

  .newsletter form #subscribeBtn {
    width: 200px;
    border: thin solid #fff;
  }

  footer {
    background-color: #4b4c29;
    margin: 0 20px;
    height: auto;
    text-align: center;
  }

  footer nav {
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: #4b4c2a; */
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
  }

  footer nav li {
    margin: 0 3px;
    padding: 2px 4px;
    justify-content: space-between;
  }

  footer .socialIcon {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .fa-brands {
    color: #fff;
    font-size: 40px;
    margin: 5px 30px;
  }
}

/* Large Devices(Desktop) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* border: thick solid blue; */
  }

  header {
    display: block;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    text-align: center;
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
  }

  header .navLeft li {
    /* border: thick solid goldenrod; */
    display: block;
  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
  }

  header .navLeft nav li img {
    width: 50px;
    mix-blend-mode: color-burn;
  }

  main {
    padding: 10px 10px 0 10px;
    margin-top: 180px;
    /* border: thick solid red; */
  }

  .videoContainer {
    /* border: thick solid red; */
    height: 30vh;
    /* overflow: hidden; */
  }
  .videoContainer video {
    max-width: 100%;
    aspect-ratio: 16/9;
  }

  .innerContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* border: thick solid brown; */
    justify-content: center;
  }

  .styleContainer .img img {
    max-width: 170px;
    margin: 10px 15px;
    /* border: thick solid blue; */
    aspect-ratio: 3/3;
  }

  .btnContainer {
    display: flex;
    max-width: 80%;
    /* padding: 10px 0; */
    text-wrap: nowrap;
    /* border: thin solid red; */
    margin: 0 auto;
  }

  .sectionHeading {
    font-weight: bolder;
    font-size: 90px;
    color: #4b4c2a60;
    /* border: thin solid red; */
    /* margin: 0 40px; */
  }

  .bridal {
    /* border: thick solid royalblue; */
    height: 40vh;
  }

  .explore {
    font-weight: bold;
    font-size: 75px;
    /* height: 7vh; */
    text-align: start;
    margin-top: 65px;
    margin-left: 170px;
  }

  .moveleff {
    margin-left: 350px;
  }

  .testimonials .innerContainer {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    /* border: thick solid red; */
    width: 100%;
  }

  .card {
    border: 2px solid #4b4c29;
    border-radius: 5px;
    width: 260px;
    height: 320px;
    margin: 10px;
    color: #4b4c2a;
    overflow: scroll;
    padding: 2px;
  }
  .card p {
    color: #000;
  }

  .card_header {
    height: 30px;
    padding: 2px;
  }
  .card_header h1 {
    font-size: 20px;
  }

  .card_header,
  .card_image,
  .card_body {
    border-bottom: 2px solid #4b4c29;
  }

  .card_image img {
    border: thin solid #4b4c29;
    width: 100%;
    /* height: 50%; */
    /* height: 70px; */
    object-fit: cover;
  }

  .card_body {
    padding: 5px;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    /* border: thick solid blue; */
  }

  .ratingIcon {
    /* border: thin solid #4b4c29; */
    float: right;
  }

  .fa-star {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .newsletter {
    height: auto;
    /* border: thick solid yellow; */
  }

  .newsletter h1 {
    font-size: 2.5rem;
    padding: 5px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

  .newsletter p {
    padding: 10px 0;
    color: #000;
    font-size: 20px;
  }

  .newsletter input {
    padding: 10px 7px;
    border: thin solid #4b4c29;
    border-radius: 5px;
    width: 70%;
    outline: none;
    /* background-color: transparent; */
  }

  .newsletter form #subscribeBtn {
    width: 200px;
    border: thin solid #fff;
  }

  footer {
    background-color: #4b4c29;
    margin: 0 20px;
    height: auto;
    text-align: center;
  }

  footer nav {
    display: flex;
    width: 100%;
    padding: 10px;
    /* background-color: #4b4c2a; */
    justify-content: center;
    align-items: center;
    font-size: 17px;
    text-align: center;
  }

  footer nav li {
    margin: 0 3px;
    padding: 2px 4px;
    justify-content: space-between;
  }

  footer .socialIcon {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .fa-brands {
    color: #fff;
    font-size: 60px;
    margin: 5px 30px;
  }
}

/* Extra large screen (Large Desktop) >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media screen and (min-width: 1200px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* border: thick solid blue; */
    /* position: relative; */
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid thick #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d6d4c5;
    z-index: 1;
    /* border: thick solid #000; */
  }

  header nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 2px;
  }

  header nav li a {
    text-decoration: none;
    color: #4b4c29;
    font-weight: bold;
    padding: 4px 3px;
    font-size: 15px;
  }

  header .navLeft nav li img {
    width: 70px;
    mix-blend-mode: color-burn;
    height: 20px;
  }

  #brandName {
    font-size: 1.5em;
    text-decoration: none;
   
    font-weight: bolder;
    color: #4b4c29;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  main {
    padding: 10px 10px 0 10px;
    margin-top: 70px;
    /* border: thick solid red; */
  }

  .innerContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    /* border: thick solid brown; */
    justify-content: center;
  }

  .sectionContainer {
    margin: 10px 10px 0 10px;
    /* border: thick solid brown; */
  }

  .styleContainer .img img {
    max-width: 500px;
    margin: 10px 15px;
  }

  .img {
    background-color: #d6d4c5;
  }

  .btnContainer {
    display: flex;
    width: 100%;
    padding: 10px 0;
    text-wrap: nowrap;
  }

  .btnContainer .styleBtn {
    padding: 7px;
    width: 170px;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
    background-color: transparent;
    border: thin solid #4b4c2a;
    color: #4b4c2a;
    text-decoration: none;
  }

  .btnContainer .styleBtn:hover {
    background-color: #4b4c2a;
    color: #fff;
    cursor: pointer;
  }

  .sectionHeading {
    font-weight: bolder;
    font-size: 100px;
    color: #4b4c2a60;
    /* border: thin solid red; */
    /* margin: 0 40px; */
  }
  .sectionHeading a {
    text-decoration: none;
    color: #4b4c2a60;
  }
  .sectionHeading a:hover {
    color: #4b4c2a;
  }

  .floatRight {
    float: right;
  }

  .explore {
    font-weight: bolder;
    font-size: 150px;
    height: 70vh;
    text-align: start;
    margin-top: 90px;
    margin-left: 450px;
  }
  .explore a {
    text-decoration: none;
    color: #4b4c2a;
  }
  .explore a:hover {
    color: #fff;
  }

  .moveleff {
    margin-left: 500px;
  }

  footer {
    background-color: #4b4c29;
    margin: 0 20px;
    height: auto;
  }

  footer nav {
    display: flex;
    width: 100%;
    padding: 20px;
    /* background-color: #4b4c2a; */
    justify-content: center;
    align-items: center;
  }
  footer .socialIcon {
    display: flex;
    width: 100%;
    padding: 20px;
    /* background-color: #4b4c2a; */
    justify-content: center;
    align-items: center;
    /* border: thick solid red; */
  }

  .fa-brands {
    color: #fff;
    font-size: 60px;
    margin: 5px 50px;
  }

  footer nav li {
    list-style: none;
    display: inline-flex;
    margin: 0 5px;
    padding: 2px 8px;
    justify-content: space-between;
  }
  footer nav li a {
    text-decoration: none;
    color: #fff;
  }

  footer a {
    color: #fff;
  }

  .newsletter h1 {
    font-size: 3rem;
    padding: 10px 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
  }

  .newsletter p {
    padding: 10px 0;
  }

  .newsletter input {
    padding: 10px 7px;
    border: thin solid #4b4c29;
    border-radius: 5px;
    width: 50%;
    /* background-color: transparent; */
  }

  .newsletter #subscribeBtn {
    padding: 10px 7px;
    border: 2px solid #4b4c29;
    border-radius: 5px;
    background-color: #4b4c29;
    font-weight: bolder;
    width: 100px;
    color: #fff;
    margin: 20px 0;
  }

  .newsletter #subscribeBtn:hover {
    background-color: #4b4c296a;
    color: #fff;
  }

  .videoContainer {
    /* border: thick solid red; */
    height: 60vh;
    overflow: hidden;
  }

  #Marq {
    font-size: 60px;
    font-weight: bolder;
    position: fixed;
    margin-top: 15px;
    color: #000;
  }

  #subscribeError {
    margin: 10px 0;
    color: red;
    display: block;
  }

  .copyright {
    /* border: thick solid red; */
    background-color: #d6d4c5;
    color: #4b4c2a;
    font-weight: bold;
    text-align: center;
  }

  .card {
    border: 3px solid #4b4c29;
    border-radius: 7px;
    width: 300px;
    height: 350px;
    margin: 10px;
    color: #4b4c2a;
  }
  .card p {
    color: #000;
  }

  .card_header {
    height: 50px;
    padding: 5px;
  }

  .card_image {
    border-bottom: thin solid #4b4c29;
    height: 150px;
    padding: 5px;
  }

  .card_image img {
    border: thin solid #4b4c29;
    width: 285px;
    height: 130px;
    object-fit: cover;
  }

  .card_body {
    padding: 5px;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
  }

  .card_header,
  .card_image,
  .card_body {
    border-bottom: 3px solid #4b4c29;
  }

  .card_footer {
    padding: 0 5px;
  }

  .testimonials .innerContainer {
    height: 40vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-y: scroll;
    /* border: thick solid #4b4c29; */
    width: 90%;
    margin: 0 auto;
  }

  .ratingIcon {
    /* border: thin solid #4b4c29; */
    float: right;
    margin-top: 5px;
  }

  /* #logoutBtn {
    position: absolute;
    margin-left: 1460px;
    margin-top: 210px;

    background-color: transparent;
    border-radius: 5px;
    padding: 15px;
    width: 10%;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
  } */

  /* #logoutBtn:hover {
   background: red;
   color: #fff;
   border: #fff;
  } */
  
  /* #logoutBtnContainer {
    position: relative;
    display: flex;
  } */
}
